<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>
<div style="margin:0 auto;text-align: center; color: black">
<p>client timezone <%= timeZone %></p>
<p>UTC Time <%= timeDate %></p>
<p>Chicago Time <%= usaTime %></p>
<p>NewYork Time <%= usaTime %></p>
<p>Moment Time Conversion <%= timeValue %></p>

</div>
</body>

</html>