<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>
<div style="margin:0 auto;text-align: center; color: black">
<p>UTC Time <%= timeDate %></p>
<p>Chicago Time <%= usaTime %></p>
<p>NewYork Time <%= usaNewyorkTime %></p>
<p>Moment Time Conversion <%= timeValue %></p>
<p>India Kolkata <%= indiaKolkataTime %></p>


</div>
</body>

</html>